repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-ast
    -   id: check-json
    -   id: check-toml
    -   id: detect-private-key
    -   id: name-tests-test
        args: ["--django"]
        name: "Tests should match test_*.py"

- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
      - id: flake8
        language_version: python3
        args: ["--max-line-length=88"]

-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3 # Should be a command that runs python3.6+


-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
    -   id: mypy
        files: ^src/
        args: []
        additional_dependencies:
          - pydantic==2.12.0


-   repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
      - id: isort
        args: ["--filter-files"]
